/* .bg-about { 
    background-color: #053d2b;
    height: 20vh;
} */

/* .text { 


    background: url(/var/www/html/Apothéose/projet-greenroots/public/images/photos/background-register.jpg);

    -webkit-background-clip: text;
        background-clip: text;

    color: transparent;    
} */