@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    color: #3C3C3B;
    max-width: auto;
}

body, .navbar {
    background-color: #FFFFFF;
    font-family: "Roboto";
    font-size: 1.6rem;

}


h1, h2, h3, h4, h5, h6, button {
    font-family: "Montserrat";
    color: #0A290E;
}

button {
    color: #2B743A;
}

h1 {
    font-size: 3.2rem;
}

h2, h3, h4, h5 {
    font-size: 2.4rem;
}

section {
    margin: 0 2rem;
}

.container {
    background-color: #d9d9d9;
    border-radius: 10px; 
}


main img {
    height: 10rem;
    width: 14rem;
    border-radius: 8px;
}

.content-card {
    gap: 2rem;
}

container, a {
    color: #3C3C3B;
}

section {
    gap: 5rem;
}

.buttons_profil { 

    width: 100%;

    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 30px;

    
}

.button_infos { 
    display: inline-block; 
    padding: 10px 10px; 
    background-color: #d9d9d9; 
    color: #3c3c3b; 
    text-decoration: none; 
    border-radius: 25px; 
    font-size: 16px;
    width: 80%;
    font-family: "Montserrat";
    font-weight: bold;
    transition: background-color 0.3s; 
}

.button_order { 
    display: inline-block; 
    padding: 10px 10px; 
    background-color: #2b743a; 
    color: #FFFFFF; 
    text-decoration: none; 
    border-radius: 25px; 
    border: none;
    font-size: 16px;
    width: 80%;
    font-family: "Montserrat";
    font-weight: bold;
}

.button_fav { 
    display: inline-block; 
    padding: 10px 10px; 
    background-color: #d9d9d9; 
    color: #3c3c3b; 
    text-decoration: none; 
    border-radius: 25px; 
    border: none;
    font-size: 16px;
    width: 80%;
    font-family: "Montserrat";
    font-weight: bold;
}


@media (max-width: 1024px) { 
    .content-card > ul > li {
        display: none;
    }

    .follow-command {
        display: none;
    }

    .info-command {
        width: 100%;
    }

    .buttons_profil {
        flex-direction: column;
    }

    .navbar-desktop {
        display: none;
    }
 }

@media (min-width: 1024px) {
    
    .mobile-link {
        display: none;
    }

    body, .navbar {
        font-size: 2.4rem;
    
    }

    h1 {
        font-size: 4rem;
    }

    .title-page {
        margin: 10rem;
    }

    section {
        margin: 10rem;
    }

    .container {
      border-radius: 16px;
      margin: 0 10rem;
    }

    .container, header {
        padding: 1rem;
    }

    .content-card {
        margin-left: 10rem;
        gap: 18rem;
    }

    main img {
        height: 16rem;
        width: 24rem;
    }


    .buttons_profil {
        flex-direction: row;
    }

    main {
        flex-direction: row;
    } 
}
