body, .navbar {
    background-color: #F0F0F0;
}

.title {
    text-align: center; 
}

.box {
    background-color: #D9d9d9; 
}

.button {
    font-size: 1 rem;
    font-weight: bolder;
    color: #1A361D;
}

.button-custom {
    background-color: #2B743A; 
    color: white; 
}

.text-green {
    color: #1A361D;
}

.button-custom {
    font-size: medium;
    font-weight: bolder ;
}

span {
    font-weight: bolder;
}

@media (max-width: 1024px) { 
    main {
        flex-direction: column;
    }
 }