body, .navbar {
    background-color: #F0F0F0;
}

.title {
    color: black; 
    text-align: center; 
}

.box {
    background-color: #D9d9d9; 
}

.button-custom {
    background-color: #2B743A; 
    color: white; 
}

.text-green {
    color: #1A361D;
}