@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    min-height: 100vh;
    color: #3C3C3B;
    max-width: auto;
    font-size: 1.6rem;
}



h1, h2, h3, h4, h5, h6, button {
    font-family: "Montserrat";
    color: #0A290E;
}

h1 {
    font-size: 2.8rem;
    font-weight: bold;
    color: #053d2b;
}

h2, h3, h4, h5 {
    font-size: 2.4rem;
}



section {
    margin: 0 2rem;
}


main img {
    height: 100px;
    width: 140px;
    border-radius: 8px;
    margin: 1rem;
}

.content-card {
    gap: 2rem;
    border-bottom: 1px solid #053d2b;
}

container, a {
    color: #3C3C3B;
}

section {
    gap: 5rem;
}

.button-delete {
    background-color: #FFB70F;
    height: 40px;
    width: 200px;
    border-radius: 15px;
    font-size: 1.6rem;
    font-weight: 600;
}


.button-validate {
    background-color: #2B743A;
    color: #FFFFFF;
    height: 40px;
    width: 200px;
    border-radius: 15px;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0 auto;
  }
  
  

.button.is-custom-green:hover {
    background-color: #235e2f;
}

.empty-cart-link {
    color: #2B743A;
    text-decoration: underline;
}

.empty-cart-link:hover {
    color: #235e2f;
}

@media (max-width: 1024px) {
    .text-green {
        text-align: center;
    }

    .all-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

}


@media (min-width: 1024px) {
    
    .content-card {
        gap: 18rem;
        margin: 0 10rem;
    }

    main img {
        height: 160px;
        width: 240px;
        margin-top: 1rem;
    }


    .buttons_profil {
        flex-direction: row;
    }


    .control {
        margin: 0 10rem 0 0;
    }
}