/* Import la police google font Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Import la police google font Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


html {
    font-size: 62.5%;
}

body {
  
    min-height: 100vh;
    width: 100vw;
}

body, .navbar {
    background-color: #FFFFFF;
    font-family: "Roboto";
    font-size: 1.6rem;

}


h1, h2, h3, h4, h5, h6, button {
    font-family: "Montserrat";
}

h1 {
    font-size: 3.2rem;
}

h2, h3, h4, h5 {
    font-size: 2.4rem;
}
/* Стили для контейнера карточки */
/* .card {
    position: relative;
    border-radius: 30px;
  } */
  
  /* Стили для изображения */
  .image.is-4by3 {
    margin: 0; /* Убирает внешние отступы */
  }
  
  /* Стили для содержимого карточки */
  .card-content {
    
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: #D9D9D9; /* Полупрозрачный белый фон для улучшения читаемости текста */
    padding: 0; /* Убирает внутренние отступы */
  }
  
  /* Стили для заголовка */
  .title.is-4,
  .m-3 {
    margin: 0.75rem; /* Устанавливает отступы */
  }
  
  /* Стили для кнопки */
  .button.is-fullwidth {
    width: 100%; /* Делает кнопку на всю ширину контейнера */
    /* border-radius: 12; */
  }
  article {
    
    justify-content: center;
    
    width: 200px;
    height: 300px;
  }


  #button-card 
   {
    width: 100%;
    background-color: #2B743A;
    height: 4rem;
  }
  #button-card-pin {
    width: 100%;
    background-color: #2B743A;
    height: 4rem;
  }

  #button-card-mimosa {
    width: 100%;
    background-color: #2B743A;
    height: 4rem;
  }
 

  /* img {
    border-radius: 30px;
  } */

  .content {
    line-height: 0.5rem;
    height: 4rem;
  }
    
 main {
  width: auto;
  gap:4rem;
}

@media (max-width: 1024px) { 
  main {
      flex-direction: column;
  }
}
@media (min-width: 1024px) {

  .card-tree {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 4rem;
    flex-wrap: wrap;

  } 

  section {
    margin: 0 0 0 8rem;
  }
}

  

  
  
  
 