<footer>
    <div class="footer-content">
        <h4>GreenRoots</h4>
        <p>Lutter contre la déforestation en achetant des arbres à planter chez GreenRoots</p>
        <ul class="footer-links">
            <li><span class="a_propos">À Propos</span></li>
            <li><a href="/a-propos">Conditions générales de vente (CGV)</a></li>
            <li><a href="/a-propos">Mentions légales</a></li>
            <li><a href="/a-propos">Vos informations personnelles (RGPD)</a></li>
            <li><a href="/a-propos">Foire aux questions</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</footer>
<script src="/public/js/burgerMenu.js" defer></script>
</body>
</html>