<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../public/images/icones/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/styles.css">
    
    <!-- Variables CSS -->
    <% if (typeof bulma !== 'undefined' && bulma) { %>
        <link rel="stylesheet" href="<%= bulma %>">
      <% } %>

    <% if (typeof cssFile !== 'undefined' && cssFile) { %>
        <link rel="stylesheet" href="/public/css/<%= cssFile %>">
      <% } %>

    <!-- Title-->
    <title>
        <%= typeof title !='undefined' ? title : 'GreenRoots' %>
    </title>

</head>
<body>

    <header class="navbar">
        <div class="logo">
            <a href="/"><img src="/public/images/Logos/Logo Mobile.svg" alt="Logo"></a>
        </div>
        <div class="icons">
            <ul>
                <li><a href="/search"><img src="/public/images/icones/Loupe.svg" alt="Recherche"></a></li>
                <li><a href="/cart"><img src="/public/images/icones/Panier 1.svg" alt="Panier"></a></li>
                <li><a href=""><img src="/public/images/icones/Burger.svg" alt="Menu Burger"></a></li>
            </ul>
        </div>
    </header>

    <hr class="navbar_end mx-5">