<%- include('partials/header') %>


<main>
    <h2><%= message %></h2>
   
    <button href="/"  class="button details is-size-4">Retour a l'accueil</button>
    <img src="" alt="Image de">
</main>

<%- include('partials/footer') %>