<%- include('partials/header') %>

    <div class="message-404 ">
        <p><%= message %></p>
    </div>

    <div class="bouton-404">
        <button class="">Retour a l'accueil</button>
    </div>
    
    <div class="image-404">
        <img src="../../public/images/photos/404_cat.png" alt="Image de chat suspendu sur une branche">
    </div>    

<%- include('partials/footer') %>