<%- include('partials/header') %>    

<main class="main-404 has-text-centered">
    <h1 class="mt-5">Page introuvable</h1>

    <p class="text-404 mt-5">La page que vous recherchez n'existe pas.</p>
   
    <a href="/" class="my-6"><button>Retour a l'accueil</button></a>
    <img src="../../public/images/photos/404_cat.png" alt="Image de chat suspendu sur l'arbre">
</main>


<%- include('partials/footer') %>