<%- include('partials/header') %>


<main>
    <h2><%= message %></h2>
   
    <a href="/"><button class="button_infos">Retour a l'accueil</button></a>
    <img src="../../public/images/photos/404_cat.png" alt="Image de chat suspendu sur l'arbre">
</main>

<%- include('partials/footer') %>