<%- include('partials/header') %>

<h2 class="is-size-2 is-underlined has-text-centered has-text-weight-bold">A Propos</h2>

<main class="a-propos">

<section class="cgv is-size-4 has-text-centered mx-6" id="cgv">
    <h3 class="is-size-3 my-5 has-text-centered" >Conditions générales de vente</h3>

            <h4>Article 1 : Objet</h4>
    <p class="my-5">
        Les présentes conditions générales de vente régissent les relations contractuelles entre Green Roots (ci-après désigné « le Vendeur ») et toute personne physique ou morale souhaitant effectuer un achat sur le site internet www.greenroots.com (ci-après désigné « le Client »). En passant commande, le Client accepte sans réserve les présentes CGV.
     </p>

     <h4>Article 2 : Produits</h4>
     <p class="my-5">   
        Green Roots propose à la vente des produits liés à l'environnement, les plantes et la nature. Chaque produit est accompagné d'une fiche descriptive détaillant ses caractéristiques essentielles. Les photos des produits ne sont pas contractuelles.
    </p>

    <h4> Article 3 : Prix</h4>
    <p class="my-5">  
        Les prix des produits sont indiqués en euros, toutes taxes comprises (TTC). Green Roots se réserve le droit de modifier ses prix à tout moment, mais les produits seront facturés sur la base des tarifs en vigueur au moment de la validation de la commande.
    </p> 

    <h4>Article 4 : Commandes</h4>
    <p class="my-5">   
        Le Client peut passer commande directement sur le site www.greenroots.com. Toute commande vaut acceptation des prix et des descriptions des produits disponibles à la vente. Le Vendeur confirme la commande par l'envoi d'un e-mail.
    </p> 

    <h4>Article 5 : Paiement</h4>
    <p class="my-5">
        Le paiement s'effectue en ligne via des plateformes sécurisées. Le Vendeur propose différents modes de paiement, dont les cartes bancaires et autres services de paiement en ligne. La commande est expédiée dès réception du paiement complet.
    </p>

    <h4>Article 6 : Livraison</h4>
    <p class="my-5">   
        Les produits sont expédiés à l'adresse indiquée par le Client lors de la commande. Green Roots s'engage à livrer dans les délais indiqués, cependant, en cas de retard de livraison, le Client ne pourra prétendre à aucune indemnisation. Les frais de livraison sont indiqués avant la validation de la commande.
    </p>
    
    <h4>Article 7 : Droit de rétractation</h4>
    <p class="my-5">    
        Conformément à la législation en vigueur, le Client dispose d'un délai de 14 jours à compter de la réception du produit pour exercer son droit de rétractation sans avoir à justifier de motifs ni à payer de pénalités. Le retour des produits doit se faire dans leur état d'origine et les frais de retour sont à la charge du Client.
     </p>

     <h4>Article 8 : Garanties</h4>
     <p class="my-5">    
        Les produits vendus bénéficient de la garantie légale de conformité et de la garantie contre les vices cachés. En cas de produit non conforme ou défectueux, Green Roots s'engage à remplacer ou rembourser le produit.
     </p>  

     <h4>Article 9 : Responsabilité</h4>
     <p class="my-5"> 
        Green Roots ne pourra être tenu responsable de tout dommage indirect qui pourrait survenir du fait de l'achat des produits. En cas de force majeure, la responsabilité du Vendeur ne pourra être engagée.
     </p>  
             
     <h4>Article 10 : Données personnelles</h4>
     <p class="my-5"> 
        Les informations recueillies lors de la commande sont nécessaires à la gestion de la commande. Green Roots s'engage à protéger les données personnelles de ses clients conformément à la législation en vigueur. Le Client dispose d’un droit d'accès, de modification et de suppression de ses données.
     </p>   

    <h4>Article 11 : Propriété intellectuelle</h4>
     <p class="my-5">
        Tous les éléments du site www.greenroots.com sont protégés par le droit d'auteur et restent la propriété intellectuelle exclusive de Green Roots. Toute reproduction, exploitation ou redistribution sans autorisation est strictement interdite.
    </p>
            
    <h4>Article 12 : Loi applicable</h4>
    <p class="my-5"> 
        Les présentes conditions générales de vente sont soumises à la loi française. En cas de litige, les tribunaux français seront seuls compétents.
    </p>  

    <h4>Article 13 : Modification des CGV</h4>
    <p class="my-5">   
        Green Roots se réserve le droit de modifier à tout moment les présentes conditions générales de vente. Les nouvelles conditions seront applicables dès leur mise en ligne sur le site.    
    </p>

</section>

<hr class="mx-5">

<section class="mentions is-size-4 has-text-centered mx-6" id="mentionsLegales">
    <h3 class="is-size-3 my-5 has-text-centered">Mentions légales</h3>        
    
    <h4 class="my-4">1. Éditeur du site</h4>
    <p class="my-5 ">
    Le site www.greenroots.com est édité par Green Roots, entreprise individuelle immatriculée au Registre du Commerce et des Sociétés 
    sous le numéro [07890498521], dont le siège social est situé au [rue de la flemme, 70700 Groland].
    </p>
        <ul>
            <li>Directeur de la publication : [Personne]</li>
            <li>Contact : [dave.lopper@yopmail.com]</li>
            <li>Téléphone : [+045 366 355 202]</li>
        </ul>

    <h4 class="my-4">2. Hébergement</h4>
    <p class="my-5 ">Le site www.greenroots.com est hébergé par :</p>
        <ul>
            <li>Hébergeur : [Nom de l’hébergeur]</li>
            <li>Adresse : [Adresse de l’hébergeur]</li>
            <li>Téléphone : [Numéro de téléphone de l’hébergeur]</li>
        </ul>

    <h4 class="my-4">3. Propriété intellectuelle</h4>
    <p class="my-5 ">Tous les contenus présents sur le site www.greenroots.com (textes, images, logos, vidéos, graphiques, etc.) 
    sont la propriété exclusive de Green Roots ou de ses partenaires. Toute reproduction, distribution ou modification de ces contenus, 
    sans autorisation préalable, est strictement interdite et peut constituer une contrefaçon.
    </p>

    <h4>4. Protection des données personnelles</h4>
    <p class="my-5 ">En conformité avec la réglementation en vigueur, notamment le Règlement Général sur la Protection des Données (RGPD),
    Green Roots s’engage à respecter la confidentialité des données personnelles des utilisateurs. Les données collectées via
    le site sont traitées dans le cadre de la gestion des commandes et des relations commerciales.
    Les utilisateurs disposent d’un droit d’accès, de rectification et de suppression de leurs données personnelles, qu'ils peuvent exercer en contactant 
    Green Roots à l’adresse suivante : [grennroots.website@gmail.com].
    </p>

    <h4>5. Cookies</h4>
    <p class="my-5 ">Le site www.greenroots.com utilise des cookies afin d’améliorer l’expérience utilisateur et de réaliser des statistiques de visite.
    L’utilisateur peut à tout moment désactiver les cookies en configurant son navigateur.
    </p>

    <h4>6. Limitation de responsabilité</h4>
    <p class="my-5 ">Green Roots s’efforce de maintenir le site à jour et accessible à tout moment. Cependant, Green Roots ne saurait être tenu responsable de tout dysfonctionnement, 
    interruption ou virus pouvant survenir sur le site, ni des conséquences liées à l'utilisation du site par l'utilisateur.
    </p>

    <h4>7. Droit applicable et juridiction compétente</h4>
    <p class="my-5 ">Les présentes mentions légales sont régies par la loi française. 
        En cas de litige, les tribunaux français seront seuls compétents.
    </p>

</section>

<hr class="mx-5">


<section class="rgpd mx-5 my-5 is-size-4" id="rgpd">
    <h3 class="is-size-3 has-text-centered" >Vos informations personnelles</h3>
    <p class="my-4">
        Conformément au Règlement Général sur la Protection des Données (RGPD), Green Roots s'engage à assurer la protection et la confidentialité des données 
        personnelles des utilisateurs du site. Les informations collectées via les formulaires de contact, de commande ou lors de la navigation sur le site sont strictement 
        confidentielles et ne sont traitées que pour les finalités prévues lors de leur collecte. Ces données peuvent inclure, sans s'y limiter, les noms, prénoms, adresses, numéros de téléphone, 
        adresses e-mail et toute autre information pertinente nécessaire à la bonne gestion des relations commerciales. Green Root
        s prend les mesures techniques et organisationnelles appropriées pour garantir un niveau de sécurité adéquat au regard des risques liés au traitement des données personnelles. 
    </p>
    <p class="my-4">
        Les utilisateurs sont informés que, conformément au RGPD, ils disposent de plusieurs droits concernant leurs données personnelles. Ces droits incluent le droit d'accès, permettant de connaître la nature des données traitées, le droit de rectification, afin de corriger toute information erronée ou incomplète, 
        et le droit à l'effacement, qui permet la suppression des données personnelles sous certaines conditions. De plus, les utilisateurs peuvent exercer leur droit à la limitation 
        du traitement, à la portabilité des données, et à l'opposition au traitement pour des motifs légitimes. Toute demande relative à ces droits peut être envoyée par courrier 
        électronique à l'adresse [votre email] ou par courrier postal à [votre adresse postale], avec une copie d'une pièce d'identité à des fins de vérification.
    </p>
    <p class="my-4">
        Green Roots ne collecte des données personnelles qu'à des fins strictement définies et légitimes. Ces finalités peuvent inclure la gestion des commandes, la facturation, 
        l'expédition des produits, la communication commerciale et promotionnelle (si le consentement explicite de l'utilisateur a été obtenu), ainsi que l'amélioration de 
        l'expérience utilisateur à travers l'analyse statistique des visites sur le site. En aucun cas, les données personnelles des utilisateurs ne seront vendues, louées ou 
        échangées à des tiers sans un accord préalable et explicite. Les sous-traitants qui interviennent dans le cadre de l'exécution des services proposés par Green Roots sont 
        également soumis à une stricte obligation de confidentialité et de conformité au RGPD.
    </p>
    <p class="my-4">
        Green Roots conserve les données personnelles pour une durée limitée, en adéquation avec les exigences légales et les besoins opérationnels. Les données relatives aux 
        commandes et à la facturation sont conservées pour une durée de [préciser la durée], conformément aux obligations fiscales et comptables en vigueur. Les données de 
        navigation et les cookies collectés à des fins de statistiques ou d’amélioration des services sont conservés pour une durée de [préciser la durée], après quoi elles 
        sont anonymisées ou supprimées. En cas de demande de suppression des données par l’utilisateur, Green Roots s’engage à répondre dans un délai raisonnable et à procéder 
        à la suppression sous réserve des obligations légales ou contractuelles qui imposent une conservation prolongée des données.
    </p>
    <p class="my-4">
        Les utilisateurs sont également informés qu'ils ont la possibilité d'introduire une réclamation auprès de l'autorité de contrôle compétente en matière de protection 
        des données personnelles, en France, la CNIL (Commission Nationale de l'Informatique et des Libertés), s'ils estiment que leurs droits n'ont pas été respectés. 
        Green Roots s'engage à coopérer pleinement avec les autorités de contrôle en cas de demande d'information ou de plainte concernant le traitement des données personnelles. 
        De plus, les utilisateurs sont encouragés à nous contacter directement pour toute question ou réclamation afin que nous puissions résoudre les problèmes dans les meilleurs 
        délais.
    </p>
    <p class="my-4">
        Enfin, Green Roots utilise des cookies et autres technologies similaires sur son site afin d'améliorer la navigation et de fournir des services adaptés aux préférences 
        des utilisateurs. Les utilisateurs peuvent configurer leurs préférences en matière de cookies à tout moment, en acceptant ou en refusant l'installation de certains cookies, 
        via les paramètres de leur navigateur ou en utilisant les outils mis à disposition sur le site. Certains cookies sont nécessaires au bon fonctionnement du site, tandis que 
        d'autres permettent d'obtenir des informations statistiques ou de personnaliser les contenus et publicités. En continuant à utiliser le site, les utilisateurs consentent à 
        l’utilisation de ces technologies dans les conditions précisées dans la politique de cookies de Green Roots.
    </p>


</section>

    <hr class="mx-5">


<section class="faq is-size-4 has-text-centered my-5" id="faq">
    <h3 class="is-size-3 my-5">Foire aux questions</h3>

        <h4>Qu'est-ce que Green Roots ?</h4>
        <p class="my-5">Green Roots est une plateforme dédiée à l'environnement et à la promotion de la biodiversité à travers des produits et services éco-responsables.</p>
    
        <h4>Quels types de produits proposez-vous ?</h4>
        <p class="my-5">Nous proposons une large gamme de produits, tels que des plantes, des accessoires de jardinage, des articles pour la maison éco-responsables, et bien plus.</p>
    
        <h4>Comment passer commande sur Green Roots ?</h4>
        <p class="my-5">Pour passer commande, sélectionnez simplement les produits que vous souhaitez acheter, ajoutez-les à votre panier, puis procédez au paiement sécurisé en ligne.</p>
    
        <h4>Quels modes de paiement acceptez-vous ?</h4>
        <p class="my-5"> Nous acceptons les paiements par carte bancaire, PayPal et d'autres moyens de paiement en ligne sécurisés.</p>
    
        <h4>Comment puis-je suivre ma commande ?</h4>
        <p class="my-5">Une fois votre commande expédiée, vous recevrez un e-mail avec un lien de suivi pour suivre votre colis en temps réel.</p>
    
        <h4>Quels sont vos délais de livraison ?</h4>
        <p class="my-5">Les délais de livraison varient en fonction de la destination. En général, les livraisons sont effectuées sous 3 à 7 jours ouvrés.</p>
    
        <h4>Livrez-vous à l'international ?</h4>
        <p class="my-5">Oui, nous livrons dans plusieurs pays à l'international. Les frais de livraison peuvent varier en fonction du pays de destination.</p>
    
        <h4>Puis-je retourner un produit ?</h4>
        <p class="my-5">Oui, vous disposez d'un délai de 14 jours après la réception de votre commande pour retourner un produit, sous réserve qu'il soit dans son état d'origine.</p>
    
        <h4>Comment retourner un produit ?</h4>
        <p class="my-5">Pour retourner un produit, contactez notre service client pour obtenir un bon de retour. Les frais de retour sont à la charge du client.</p>
    
        <h4>Les frais de retour sont-ils gratuits ?</h4>
        <p class="my-5">Les frais de retour ne sont pas pris en charge, sauf si le produit est défectueux ou non conforme à la commande.</p>
    
        <h4>Quels sont vos horaires d'ouverture du service client ?</h4>
        <p class="my-5">Notre service client est disponible du lundi au vendredi de 9h à 18h.</p>
    
        <h4>Comment puis-je contacter le service client ?</h4>
        <p class="my-5">Vous pouvez nous contacter via notre formulaire de contact, par e-mail ou par téléphone. Les détails sont disponibles sur notre page Contact.</p>
    
        <h4>Quels sont les délais de réponse du service client ?</h4>
        <p class="my-5">Nous nous efforçons de répondre à toutes les demandes dans un délai de 48 heures ouvrées.</p>
    
        <h4>Proposez-vous des réductions ou promotions ?</h4>
        <p class="my-5">Oui, nous proposons régulièrement des offres spéciales. Abonnez-vous à notre newsletter pour rester informé des promotions en cours.</p>
    
        <h4>Puis-je cumuler plusieurs offres promotionnelles ?</h4>
        <p class="my-5">Non, les offres promotionnelles ne sont pas cumulables entre elles.</p>
    
        <h4>Comment m'inscrire à la newsletter ?</h4>
        <p class="my-5">Pour vous inscrire à la newsletter, rendez-vous en bas de page et entrez votre adresse e-mail dans le formulaire prévu à cet effet.</p>
    
        <h4>Comment puis-je modifier ou annuler ma commande ?</h4>
        <p class="my-5">Si votre commande n'a pas encore été expédiée, vous pouvez nous contacter pour la modifier ou l'annuler. Une fois expédiée, la commande ne peut plus être modifiée.</p>
    
        <h4>Quels sont vos engagements écologiques ?</h4>
        <p class="my-5">Green Roots s'engage à promouvoir des pratiques durables en utilisant des matériaux recyclés, en réduisant les emballages plastiques et en soutenant des projets de reforestation.</p>
    
        <h4>Comment puis-je planter un arbre avec Green Roots ?</h4>
        <p class="my-5">Pour chaque commande passée sur notre site, un arbre est planté grâce à notre partenariat avec une organisation environnementale. Vous pouvez également faire un don pour planter plus d'arbres.</p>
    
        <h4>Proposez-vous des produits certifiés bio ?</h4>
        <p class="my-5">Oui, de nombreux produits disponibles sur notre site sont certifiés bio ou issus de l'agriculture durable.</p>
    
        <h4>Quels sont les avantages de créer un compte sur Green Roots ?</h4>
        <p class="my-5">En créant un compte, vous pouvez sauvegarder vos adresses de livraison, suivre vos commandes et recevoir des offres personnalisées.</p>
    
        <h4>Puis-je commander sans créer de compte ?</h4>
        <p class="my-5">Oui, il est possible de commander en tant qu'invité sans créer de compte. Cependant, vous n'aurez pas accès aux avantages réservés aux membres inscrits.</p>
    
        <h4>Comment puis-je suivre l'impact de mes achats sur l'environnement ?</h4>
        <p class="my-5">Dans votre compte, vous trouverez une section dédiée qui vous permet de suivre l'impact positif de vos achats, comme le nombre d'arbres plantés.</p>
    
        <h4>Comment Green Roots garantit-il la qualité des produits ?</h4>
        <p class="my-5">Tous nos produits sont sélectionnés avec soin auprès de partenaires engagés dans des pratiques durables et respectueuses de l'environnement.</p>
    
        <h4>Quels sont les moyens de contact en cas de problème ?</h4>
        <p class="my-5">En cas de problème, vous pouvez nous contacter par e-mail, via notre formulaire de contact, ou par téléphone. Tous les détails sont disponibles sur la page Contact.</p>
    
        <h4>Puis-je ajouter une adresse de livraison différente de celle de facturation ?</h4>
        <p class="my-5">Oui, vous pouvez ajouter une adresse de livraison différente lors de la validation de votre commande.</p>
    
        <h4>Comment fonctionne le programme de fidélité Green Roots ?</h4>
        <p class="my-5">Nous offrons des points de fidélité pour chaque achat. Ces points peuvent être convertis en réductions lors de vos prochaines commandes.</p>
    
        <h4>Quels sont les avantages du programme de parrainage ?</h4>
        <p class="my-5">En parrainant un ami, vous bénéficiez d'une réduction sur votre prochaine commande, et votre ami reçoit également une remise sur sa première commande.</p>
    
        <h4>Comment puis-je activer un code promo ?</h4>
        <p class="my-5">Pour activer un code promo, entrez-le dans le champ prévu à cet effet lors de la validation de votre commande.</p>
    
        <h4>Que faire si mon code promo ne fonctionne pas ?</h4>
        <p class="my-5">Assurez-vous que votre code promo est encore valide et qu'il respecte les conditions d'utilisation. Si le problème persiste, contactez notre service client.</p>
    
        <h4>Comment obtenir une facture pour ma commande ?</h4>
        <p class="my-5">Vous pouvez télécharger votre facture depuis votre compte client ou demander une facture par e-mail si vous avez commandé en tant qu'invité.</p>
    
        <h4>Quels sont les délais de remboursement ?</h4>
        <p class="my-5">Les remboursements sont effectués dans un délai de 14 jours après réception du produit retourné.</p>
    
        <h4>Puis-je modifier mon adresse de livraison après avoir passé commande ?</h4>
        <p class="my-5">Vous pouvez modifier votre adresse de livraison tant que la commande n'a pas encore été expédiée. Contactez rapidement notre service client.</p>
    
        <h4>Comment connaître la disponibilité des produits ?</h4>
        <p class="my-5">La disponibilité des produits est indiquée sur la page produit. Si un article est en rupture de stock, vous pouvez être informé de son retour en stock par e-mail.</p>
    
        <h4>Quels sont vos modes de livraison ?</h4>
        <p class="my-5">Nous proposons plusieurs modes de livraison, y compris la livraison standard, express, et point relais. Les options disponibles varient en fonction de votre localisation.</p>
    
        <h4>Offrez-vous des cartes cadeaux ?</h4>
        <p class="my-5">Oui, nous proposons des cartes cadeaux Green Roots, disponibles à l'achat directement sur notre site. Elles sont valables sur tous nos produits.</p>
    
        <h4>Les produits sont-ils emballés de manière écologique ?</h4>
        <p class="my-5"> Oui, nous utilisons des matériaux recyclés et biodégradables pour emballer vos commandes afin de réduire notre impact environnemental.</p>
    
        <h4>Puis-je modifier mon mot de passe ?</h4>
        <p class="my-5">Oui, vous pouvez modifier votre mot de passe à tout moment en accédant à votre compte et en allant dans les paramètres de sécurité
    
        <h4>Comment puis-je récupérer mon mot de passe si je l'ai oublié ?</h4>
        <p class="my-5">Vous pouvez cliquer sur "Mot de passe oublié" sur la page de connexion et suivre les instructions pour réinitialiser votre mot de passe.</p>

        <h4>Green Roots propose-t-il un service de conseils en jardinage ?</h4>
        <p class="my-5">Oui, nous proposons un blog et des conseils d'experts pour vous aider à entretenir vos plantes et votre jardin de manière éco-responsable.</p>

        <h4>Comment savoir si un produit est adapté à ma région ?</h4>
        <p class="my-5">Chaque fiche produit contient des informations sur les conditions climatiques idéales. Si vous avez un doute, vous pouvez contacter notre service client pour des conseils personnalisés.</p>

        <h4>Puis-je changer l'adresse de facturation après avoir passé commande ?</h4>
        <p class="my-5">Une fois la commande passée, il n'est plus possible de modifier l'adresse de facturation. Veuillez vérifier toutes les informations avant de confirmer votre commande.</p>

        <h4>Quels sont vos engagements en matière de réduction des déchets ?</h4>
        <p class="my-5">Nous nous engageons à réduire notre empreinte carbone en utilisant des emballages écologiques, en optimisant la chaîne d'approvisionnement et en encourageant le recyclage.</p>

        <h4>Puis-je faire un don à une cause environnementale via votre site ?</h4>
        <p class="my-5">Oui, nous collaborons avec plusieurs associations environnementales et vous avez la possibilité de faire un don lors de la validation de votre commande.</p>

        <h4>Est-ce que Green Roots propose des abonnements ?</h4>
        <p class="my-5">Oui, nous proposons des abonnements mensuels pour recevoir régulièrement des plantes et produits éco-responsables directement chez vous.</p>

        <h4>Comment puis-je laisser un avis sur un produit ?</h4>
        <p class="my-5">Une fois votre achat effectué, vous recevrez un e-mail avec un lien pour laisser un avis sur le produit. Vous pouvez également poster un avis via votre compte client.</p>

        <h4>Que dois-je faire si je reçois un produit défectueux ?</h4>
        <p class="my-5">Si vous recevez un produit défectueux, veuillez contacter notre service client dans les plus brefs délais pour organiser un échange ou un remboursement.</p>
</section>





</main>

<%- include('partials/footer') %>