<%- include('partials/header') %>

<h2>A propos</h2>

<main class="a-propos">

<section class="cgv">
    <h3>Conditions générales de vente</h3>
    <p>

    </p>
</section>

<section class="mentions">
    <h3>Mentions légales</h3>
    <p>
        
    </p>
</section>

<section class="rgpd">
    <h3>Vos informations personnelles</h3>
    <p>
        
    </p>
</section>

<section class="faq">
    <h3>Foire aux questions</h3>
    <p>
        
    </p>
</section>

</main>

<%- include('partials/footer') %>