<%- include('partials/header') %>

<h2 class="is-size-2 is-underlined has-text-centered">A Propos</h2>

<main class="a-propos">

<section class="cgv is-size-4 has-text-centered mx-6">
    <h3 class="is-size-3 my-5 has-text-centered">Conditions générales de vente</h3>

            <span class="has-text-weight-bold my-5 has-text-black">Article 1 : Objet</span>
    <p class="my-5">
        Les présentes conditions générales de vente régissent les relations contractuelles entre Green Roots (ci-après désigné « le Vendeur ») et toute personne physique ou morale souhaitant effectuer un achat sur le site internet www.greenroots.com (ci-après désigné « le Client »). En passant commande, le Client accepte sans réserve les présentes CGV.
     </p>

     <span class="has-text-weight-bold my-5 has-text-black">Article 2 : Produits</span>
     <p class="my-5">   
        Green Roots propose à la vente des produits liés à l'environnement, les plantes et la nature. Chaque produit est accompagné d'une fiche descriptive détaillant ses caractéristiques essentielles. Les photos des produits ne sont pas contractuelles.
    </p>

    <span class="has-text-weight-bold my-5 has-text-black"> Article 3 : Prix</span>
    <p class="my-5">  
        Les prix des produits sont indiqués en euros, toutes taxes comprises (TTC). Green Roots se réserve le droit de modifier ses prix à tout moment, mais les produits seront facturés sur la base des tarifs en vigueur au moment de la validation de la commande.
    </p> 

    <span class="has-text-weight-bold my-5 has-text-black">Article 4 : Commandes</span>
    <p class="my-5">   
        Le Client peut passer commande directement sur le site www.greenroots.com. Toute commande vaut acceptation des prix et des descriptions des produits disponibles à la vente. Le Vendeur confirme la commande par l'envoi d'un e-mail.
    </p> 

    <span class="has-text-weight-bold my-5 has-text-black">Article 5 : Paiement</span>
    <p class="my-5">
        Le paiement s'effectue en ligne via des plateformes sécurisées. Le Vendeur propose différents modes de paiement, dont les cartes bancaires et autres services de paiement en ligne. La commande est expédiée dès réception du paiement complet.
    </p>

    <span class="has-text-weight-bold my-5 has-text-black">Article 6 : Livraison</span>
    <p class="my-5">   
        Les produits sont expédiés à l'adresse indiquée par le Client lors de la commande. Green Roots s'engage à livrer dans les délais indiqués, cependant, en cas de retard de livraison, le Client ne pourra prétendre à aucune indemnisation. Les frais de livraison sont indiqués avant la validation de la commande.
    </p>
    
    <span class="has-text-weight-bold my-5 has-text-black">Article 7 : Droit de rétractation</span>
    <p class="my-5">    
        Conformément à la législation en vigueur, le Client dispose d'un délai de 14 jours à compter de la réception du produit pour exercer son droit de rétractation sans avoir à justifier de motifs ni à payer de pénalités. Le retour des produits doit se faire dans leur état d'origine et les frais de retour sont à la charge du Client.
     </p>

     <span class="has-text-weight-bold my-5 has-text-black">Article 8 : Garanties</span>
     <p class="my-5">    
        Les produits vendus bénéficient de la garantie légale de conformité et de la garantie contre les vices cachés. En cas de produit non conforme ou défectueux, Green Roots s'engage à remplacer ou rembourser le produit.
     </p>  

     <span class="has-text-weight-bold my-5 has-text-black">Article 9 : Responsabilité</span>
     <p class="my-5"> 
        Green Roots ne pourra être tenu responsable de tout dommage indirect qui pourrait survenir du fait de l'achat des produits. En cas de force majeure, la responsabilité du Vendeur ne pourra être engagée.
     </p>  
             
     <span class="has-text-weight-bold my-5 has-text-black">Article 10 : Données personnelles</span>
     <p class="my-5"> 
        Les informations recueillies lors de la commande sont nécessaires à la gestion de la commande. Green Roots s'engage à protéger les données personnelles de ses clients conformément à la législation en vigueur. Le Client dispose d’un droit d'accès, de modification et de suppression de ses données.
     </p>   

    <span class="has-text-weight-bold my-5 has-text-black">Article 11 : Propriété intellectuelle</span>
     <p class="my-5">
        Tous les éléments du site www.greenroots.com sont protégés par le droit d'auteur et restent la propriété intellectuelle exclusive de Green Roots. Toute reproduction, exploitation ou redistribution sans autorisation est strictement interdite.
    </p>
            
    <span class="has-text-weight-bold my-5 has-text-black">Article 12 : Loi applicable</span>
    <p class="my-5"> 
        Les présentes conditions générales de vente sont soumises à la loi française. En cas de litige, les tribunaux français seront seuls compétents.
    </p>  

    <span class="has-text-weight-bold my-5 has-text-black has-text-centered">Article 13 : Modification des CGV</span>
    <p class="my-5">   
        Green Roots se réserve le droit de modifier à tout moment les présentes conditions générales de vente. Les nouvelles conditions seront applicables dès leur mise en ligne sur le site.    
    </p>

</section>

<hr class="mx-5">

<section class="mentions is-size-4 has-text-centered mx-6">
    <h3 class="is-size-3 my-5 has-text-centered">Mentions légales</h3>        
    
    <span class="has-text-weight-bold my-5 has-text-black has-text-centered">1. Éditeur du site</span>
    <p>
Le site www.greenroots.com est édité par Green Roots, entreprise individuelle/société (à personnaliser selon votre situation), immatriculée au Registre du Commerce et des Sociétés sous le numéro [Numéro d’immatriculation], dont le siège social est situé au [Adresse complète].

Directeur de la publication : [Nom du directeur]
Contact : [Adresse e-mail]
Téléphone : [Numéro de téléphone]
<span class="has-text-weight-bold my-5 has-text-black has-text-centered">2. Hébergement</span>
Le site www.greenroots.com est hébergé par :

Hébergeur : [Nom de l’hébergeur]
Adresse : [Adresse de l’hébergeur]
Téléphone : [Numéro de téléphone de l’hébergeur]
<span class="has-text-weight-bold my-5 has-text-black has-text-centered">3. Propriété intellectuelle</span>
Tous les contenus présents sur le site www.greenroots.com (textes, images, logos, vidéos, graphiques, etc.) sont la propriété exclusive de Green Roots ou de ses partenaires. Toute reproduction, distribution ou modification de ces contenus, sans autorisation préalable, est strictement interdite et peut constituer une contrefaçon.

<span class="has-text-weight-bold my-5 has-text-black has-text-centered">4. Protection des données personnelles</span>
En conformité avec la réglementation en vigueur, notamment le Règlement Général sur la Protection des Données (RGPD), Green Roots s’engage à respecter la confidentialité des données personnelles des utilisateurs. Les données collectées via le site sont traitées dans le cadre de la gestion des commandes et des relations commerciales.

Les utilisateurs disposent d’un droit d’accès, de rectification et de suppression de leurs données personnelles, qu'ils peuvent exercer en contactant Green Roots à l’adresse suivante : [Adresse e-mail].

<span class="has-text-weight-bold my-5 has-text-black has-text-centered">5. Cookies</span>
Le site www.greenroots.com utilise des cookies afin d’améliorer l’expérience utilisateur et de réaliser des statistiques de visite. L’utilisateur peut à tout moment désactiver les cookies en configurant son navigateur.

<span class="has-text-weight-bold my-5 has-text-black has-text-centered">6. Limitation de responsabilité</span>
Green Roots s’efforce de maintenir le site à jour et accessible à tout moment. Cependant, Green Roots ne saurait être tenu responsable de tout dysfonctionnement, interruption ou virus pouvant survenir sur le site, ni des conséquences liées à l'utilisation du site par l'utilisateur.

<span class="has-text-weight-bold my-5 has-text-black has-text-centered">7. Droit applicable et juridiction compétente</span>
Les présentes mentions légales sont régies par la loi française. En cas de litige, les tribunaux français seront seuls compétents.


    </p>
</section>

<section class="rgpd  has-text-centered my-5">
    <h3 class="is-size-3">Vos informations personnelles</h3>
    <p>
        
    </p>
</section>

<section class="faq is-size-3 has-text-centered my-5">
    <h3>Foire aux questions</h3>
    <p>
        
    </p>
</section>

</main>

<%- include('partials/footer') %>