<%- include('partials/header') %>
<main class="payment-page is-flex-grow-1">


    <h1 class="mt-5 has-text-centered">Paiement annulé</h1>
    <p class="mt-5 has-text-centered text-payment">Vous avez annulé votre paiement. Si vous avez oublié quelque chose dans votre panier ou changé d'avis, vous pouvez retourner à notre boutique pour terminer votre achat.</p>
    <!--N'oublie pas de mettre retour au boutique et faire la page chechout-->
    <p class="mt-5 text-payment"><a href="/nos-arbres/">Retourner à la boutique</a><br> ou <br><a href="/panier">essayer de nouveau</a></p>


</main>


<%- include('partials/footer') %>