<%- include('partials/header') %>


<section>
    <h1>Paiement annulé</h1>
    <p>Vous avez annulé votre paiement. Si vous avez oublié quelque chose dans votre panier ou changé d'avis, vous pouvez retourner à notre boutique pour terminer votre achat.</p>
    <!--N'oublie pas de mettre retour au boutique et faire la page chechout-->
    <p><a href="/nos-arbres/">Retourner à la boutique</a> ou <a href="/checkout">essayer de nouveau</a></p>
</section>




<%- include('partials/footer') %>