<%- include('partials/header') %>


<!-- <div class="notification-container mx-6">
  <% if (message) { %>
      
      <div class="notification <%= message.type %> mb-6 mx-6" id="notification">
          <p class="has-text-centered"><%= message.text %></p>
      </div>
      <% delete message; %>
  <% } %>
</div> -->


    <hr class="navbar_end">
<body>
    <main class="is-flex-grow-1 mb-6">

        <hr class="navbar_end navbar-desktop">

        <section class="section mb-6">
            <div class="container has-text-centered">
              <div class="columns is-vcentered mb-4">
                <div class="column">
                  <h1 class="title-page has-text-centered-mobile has-text-left-tablet has-text-weight-bold">Panier</h1>
            </div>
          </section>

        <section class="is-flex is-flex-direction-column is-align-items-center">
            
            <div class="container is-fluid mx-6 is-flex is-flex-direction-column is-flex-wrap-nowrap p-4 pt-5 mb-6">
                <header class="is-flex is-justify-content-space-between mx-5 has-text-weight-semibold">
                  <p>N°1111</p>
                  <time datetime="2024-09-03">03/09/24</time>
                </header>
                <div class="content-card is-flex is-justify-content-space-around p-2 mb-6">
                  <img src="../public/images/photos/cedre.jpg" alt="Photo d'un cèdre">
                  <div class="is-flex is-flex-direction-column is-flex-wrap-nowrap is-justify-content-space-between">
                    <p class="nameProduct"><span class="has-text-weight-semibold">Nom : </span>Cèdre</p>
                    <p><span class="has-text-weight-semibold">Taille : </span>1</p>
                    <p><span class="has-text-weight-semibold">Variété : </span>Papaye</p>
                    <p class="priceProduct"><span class="has-text-weight-semibold">Prix : </span>18.99 €</p>
                    <p><span class="has-text-weight-semibold">Quantité : </span>
                      <div class="field has-addons">
                        <p class="control">
                          <button class="button is-primary" onclick="decrement('quantity-input-cedre-1')">
                            <span class="icon is-small">
                              <i class="fas fa-minus"> - </i>
                            </span>
                          </button>
                        </p>
                        <p class="control">
                          <input class="input has-text-centered quantity" type="number" value="1" min="0" max="100" id="quantity-input-cedre-1" style="width: 60px;">
                        </p>
                        <p class="control">
                          <button class="button is-primary" onclick="increment('quantity-input-cedre-1')">
                            <span class="icon is-small">
                              <i class="fas fa-plus"> + </i>
                            </span>
                          </button>
                        </p>
                      </div>
                    </p>
                  </div>
                  <ul class="follow-command is-flex is-flex-direction-column is-justify-content-space-between">
                    <li><a href="#" class="has-text-weight-semibold has-text-right mr-6 pb-2">Supprimer du panier ></a></li>
                  </ul>
                </div>
              </div>

              
                </div>
                <a href="#" class="mobile-link has-text-weight-semibold has-text-right mr-6 pb-2">Détails ></a>   
            </div>
            <form action="/create-checkout-session" method="POST">
              <button type="submit">Checkout</button>
            </form>
        </div>
    </section>
    <script src="/public/js/quantity.js"></script>
</body>
</html>

<%- include('partials/footer') %>
<script src="/public/js/cart.js"></script>