
    <%- include('partials/header') %>
    <main>

    <h2 class="connection ">Connexion</h2>

    <div class="form_container">
        <form class="form_login" action="/connexion" method="post">
            <label for="email">Identifiant</label>
            <input type="email" id="email" placeholder="email">

            <label for="password">Mot de passe</label>
            <input type="password" id="password" placeholder="mot de passe">

        </form>            
        <button class="button_login" type="submit">Se connecter</button>

    </div>

    </main>
    <%- include('partials/footer') %>
</body>
</html>