<%- include('partials/header') %>

<main class="">
    <h1 class="title-page has-text-weight-semibold has-text-centered my-4">Contact</h1>

    <section>

          <form action="/contact" method="post" class="is-flex is-flex-direction-column is-flex-wrap-nowrap is-justify-content-center">
            <div class="test">
                <div class="info-message">
                    <div>
                        <label for="name" class="label has-text-current has-text-left-desktop is-size-3">Nom</label>
                        <input class="mb-6 is-size-4" type="text" id="name" name="name" placeholder="Votre nom">
                    </div>

                    <div>
                        <label for="email" class="label has-text-current has-text-left-desktop is-size-3">Email</label>
                        <input class="mb-6 is-size-4" type="email" id="email" name="email" placeholder="Votre adresse email">
                    </div>
                </div>
                <div class="text-message is-flex is-flex-direction-column is-flex-wrap-nowrap">
                    <label for="message" class="label has-text-current has-text-left-desktop is-size-3">Message</label>
                    <textarea class="mb-6 is-size-4" id="message" name="message" cols="10" rows="10" placeholder="Votre message"></textarea>

                </div>
            </div>
            <button class="button-message" type="submit">Envoyer</button>
        </form>
          
    </section>
</main>


<%- include('partials/footer') %>
