<%- include('partials/header') %>
    <main class="main-error is-flex-grow-1">
        <h1 class="mt-5">Erreur de nôtre coté</h1>

        <p class="text-error mt-5">Nous rencontrons un problème, veuillez réessayer plus tard.</p>
       
        <a href="/" class="my-6"><button class="my-6">Retour a l'accueil</button></a>
</main>
<%- include('partials/footer') %>

