<%- include('partials/header') %>


  <section>
    <h1>Paiement réussi !</h1>
    <p>Merci pour votre commande !</p>
    <p>Votre paiement a été traité avec succès et nous sommes en train de préparer votre commande.</p>
    <!-- Noublie pas de rajouter mail ou rederection dans a  href-->
    <p>Si vous avez des questions concernant votre commande, n'hésitez pas à nous contacter à <a href="">support@example.com</a>.</p>
    <p>Nous espérons vous revoir bientôt !</p>
  </section>


<%- include('partials/footer') %>








