<%- include('partials/header') %>
<main class="payment-page is-flex-grow-1">

    <h1 class="mt-5 has-text-centered">Paiement réussi !</h1>
    <p class="mt-2 has-text-centered text-payment">Merci pour votre commande !</p>
    <p class="mt-2 has-text-centered text-payment">Votre paiement a été traité avec succès et nous sommes en train de préparer votre commande.</p>
    <p class="mt-2 has-text-centered text-payment">Si vous avez des questions concernant votre commande, n'hésitez pas à nous contacter à <a href="mailto:greenroots.website@gmail.com">greenroots.website@gmail.com</a>.</p>
    <p class="mt-5 has-text-centered text-payment">Nous espérons vous revoir bientôt !</p>
    <a href="/" class="my-6 has-text-centered"><button class="my-6">Retour a l'accueil</button></a>

</main>

<%- include('partials/footer') %>








